<div class="offer-details">
  <h2 class="offer-details__title">
    {{ offer?.title }}
  </h2>
  <div class="offer-details__description-box">
    <span class="offer-details__label">Descripción:</span>
    <p class="offer-details__description">
      {{ offer?.description}}
    </p>
  </div>

  <div class="offer-details__scroll-container">
    <div class="offer-details__list">
      @for (tech of technicians(); track tech.name){
      <div class="offer-details__card">
        <div class="offer-details__photo-wrapper">
          <img
            [src]="tech.photo"
            alt="Foto de {{ tech.name }}"
            class="offer-details__photo"
            loading="lazy"
          />
          @if (tech.available) {
          <div
            class="offer-details__available-indicator"
            aria-label="Disponible"
          >
            <mat-icon class="offer-details__check-icon">check</mat-icon>
          </div>
          }
        </div>
        <p class="offer-details__name">{{ tech.name }}</p>
        <div class="offer-details__rating-row">
          <app-star-rating [rating]="tech.rating"></app-star-rating>
          <span class="offer-details__reviews"
            >({{ tech.reviews }} Reviews)</span
          >
        </div>
        <p class="offer-details__profession">{{ tech.profession }}</p>
        <p class="offer-details__price">${{ tech.price }}</p>
        <div class="offer-details__button-wrapper">
          <button class="offer-details__book-button" mat-raised-button color="accent">Ver perfil</button>
          <button class="offer-details__book-button" mat-raised-button color="accent">Ver propuesta</button>
        </div>
      </div>
      }
    </div>
  </div>
</div>
