
<div class="compare-main">

  <!-- Barra de filtros -->
  <section class="filters">
    <p-checkbox
      inputId="fav"
      label="Solo Favoritos"
      [(ngModel)]="onlyFav">
    </p-checkbox>

    <p-dropdown
      [options]="roles"
      [(ngModel)]="selectedRole"
      placeholder="Rol"
      class="filter-dd">
    </p-dropdown>

    <p-dropdown
      [options]="availabilityOptions"
      optionLabel="label"
      [(ngModel)]="selectedAvailability"
      placeholder="Disponibilidad"
      class="filter-dd">
    </p-dropdown>

    <p-dropdown
      [options]="ratingOptions"
      optionLabel="label"
      [(ngModel)]="selectedRating"
      placeholder="Valoración Mínima"
      class="filter-dd">
    </p-dropdown>

    <p-dropdown
      [options]="certificationOptions"
      optionLabel="label"
      [(ngModel)]="selectedCertification"
      placeholder="Tipo Certificación"
      class="filter-dd">
    </p-dropdown>

    <p-dropdown
      [options]="experienceOptions"
      optionLabel="label"
      [(ngModel)]="selectedExperience"
      placeholder="Años Experiencia"
      class="filter-dd">
    </p-dropdown>

    <button
      pButton
      type="button"
      label="Guardar como PDF"
      class="save-btn p-button-link">
    </button>
  </section>

  <!-- Grid de tarjetas -->
  <section class="cards-grid">
    <app-profile-card
      *ngFor="let p of filteredProfiles()"
      [profile]="p">
    </app-profile-card>
  </section>
</div>
