
/* Fija el header en lo alto, junto al sidebar */
app-side-navigation-bar {
  position: fixed;
  top: 0; left: 0;
  bottom: 0;
  width: 240px;
  z-index: 20;
}
app-header-bar {
  position: fixed;
  top: 0;
  left: 240px;
  right: 0;
  height: 64px;
  z-index: 30;
}

.main-content {
  padding-left: 232px;
  padding-top: 64px;
}
