<aside class="side-nav">
  <div class="profile">
    <img src="/assets/user.png" alt="James Cooper" class="avatar" />
    <div class="name">James Cooper</div>
    <a class="edit-link"
       [routerLink]="['/perfil-trabajador']"
       routerLinkActive="active">
      Personalizar Perfil
    </a>
  </div>
  <nav>
    <ul>
      <li><a routerLink="/home">INICIO</a></li>
      <li><a routerLink="/search-offers">BUSCAR OFERTAS</a></li>
      <li><a routerLink="/offers">OFERTAS</a></li>

      <li><a routerLink="/reputation">MI REPUTACION</a></li>
      <li><a routerLink="/settings">CONFIGURACIÓN</a></li>
    </ul>
  </nav>
</aside>
