<aside class="side-nav">
  <div class="profile">
    <img src="/assets/user.png" alt="James Cooper" class="avatar" />
    <div class="name">James Cooper</div>
    <a routerLink="/profile" class="edit-link">Personalizar Perfil</a>
  </div>
  <nav>
    <ul>
      <li><a routerLink="/home"><i class="pi pi-home"></i> INICIO</a></li>
      <li><a routerLink="/search-tecs"><i class="pi pi-search"></i> BUSCAR TÉCNICOS</a></li>
      <li><a routerLink="/offer/customer/create"><i class="pi pi-briefcase"></i> OFERTAS</a></li>
      <li class="active">
        <a routerLink="/compare"><i class="pi pi-users"></i> COMPARAR PERFILES</a>
      </li>
      <li><a routerLink="/settings"><i class="pi pi-cog"></i> CONFIGURACIÓN</a></li>
    </ul>
  </nav>
</aside>
