<section class="offer-section">
  @if (this.router.url !== '/customer/offers/list' ) {
  <header class="offer-section__header">
    <div class="offer-section__button-group">
      <button
        class="offer-section__button offer-section__button--crear"
        [class.offer-section__button--active]="isNewOfferPath"
        [disabled]="!isNewOfferPath"
      >
        Crear Oferta
      </button>

      <div class="offer-section__separator"></div>

      <button
        class="offer-section__button offer-section__button--activa"
        [class.offer-section__button--active]="isOfferActive"
        [disabled]="isNewOfferPath || !isOfferActive"
      >
        Activa
      </button>

      <div class="offer-section__separator"></div>

      <button
        class="offer-section__button offer-section__button--pendiente"
        [class.offer-section__button--active]="isOfferPending"
        [disabled]="isNewOfferPath || !isOfferPending"
      >
        Pendiente
      </button>

      <div class="offer-section__separator"></div>

      <button
        class="offer-section__button offer-section__button--finalizada"
        [class.offer-section__button--active]="isOfferFinished"
        [disabled]="isNewOfferPath || !isOfferFinished"
      >
        Finalizada
      </button>
    </div>
  </header>
  }

  <div class="offer-section__content">
    <router-outlet></router-outlet>
  </div>
</section>
